## Convert tables from paper to CSV files

In [1]:
import re
import sys
import pandas as pd

In [147]:
files1 = ['OH']
files2 = ['HG', 'NA', 'NE', 'SC', 'SE', 'TH', 'TH2']
files3 = ['add']
files4 = ['unidentified']
all_files = files1 + files2 + files3 + files4

In [148]:
columns1 = ['Line1', 'Line2', 'Line3', 'Line4', 'LickLambda', 'AbramsLambda', 'Deviation', 'Width', 'RI']
columns2 = ['LickLambda', 'NISTLambda', 'Deviation', 'Width', 'RI']
columns3 = ['Emitter1', 'Emitter2', 'LickLambda', 'NISTLambda', 'Deviation', 'Width', 'RI']
columns4 = ['LickLambda', 'RI']

In [156]:
for file in all_files:
    file_name = file + '.txt'
    if file in files1:
        column_names = columns1
    elif file in files2:
        column_names = columns2
    elif file in files3:
        column_names = columns3
    else:
        column_names = columns4
    df = pd.DataFrame(columns = column_names)
    with open(file_name) as f:
        for line in f:
            if "......" in line:
                line = re.sub(r' \.\.+ ', ',', line)
            if " " in line:
                line = re.sub(r' ', ',', line)
            line = re.sub(r'[^a-zA-Z0-9\.\,]', '', line)
            series = pd.Series(line.split(','), index = df.columns)
            df = df.append(series, ignore_index=True)
    df.to_pickle(file + '.pkl')

In [165]:
lst = []
for file in all_files:
    f_name = file + '.pkl'
    lst += [f_name]

In [189]:
all_wavelengths = pd.DataFrame(columns=['LickLambda'])
for file in lst:
    df = pd.read_pickle(file)
    to_stack = pd.DataFrame(df['LickLambda'])
    all_wavelengths = pd.concat([all_wavelengths,to_stack],ignore_index=True)
all_wavelengths.to_pickle('AllLines.pkl')

In [3]:
pd.read_pickle('AllLines.pkl')

    LickLambda
0     5203.021
1     5542.275
2     5564.021
3     5589.161
4     5605.172
..         ...
221   5835.951
222   5836.162
223   6198.340
224   6207.252
225   6305.546

[226 rows x 1 columns]

In [30]:
repwls = pd.read_csv('/home/zoek/code/APF-BL-DAP/Zoe/6sResults/r_persistent_events.csv')

In [34]:
repwls.groupby(['star', 'r shifted wl']).first().reset_index()

,star,r shifted wl,Unnamed: 0,identifier,r unshifted wl,r heights,r AMD heights,rounded r shifted wl,observation time,rounded r unshifted wl
0,HIP101262,5578.186738,0,HIP101262_2,5577.790253,0.701166,7.787934,5578.18,2020-05-28T07:05:27.39,5577.80
1,HIP114430,5896.526877,9,HIP114430_12,5896.526877,0.245833,12.548018,5896.52,2018-04-02T12:32:30.48,5896.52
2,HIP14286,5004.504441,15,HIP14286_3,5004.504441,0.132577,6.454437,5004.50,2018-11-05T08:02:23.48,5004.50
3,HIP14576,5205.490459,16,HIP14576_1,5205.402361,0.011126,6.722608,5205.50,2018-11-05T09:42:25.76,5205.40
4,HIP14576,5403.552117,17,HIP14576_1,5403.460666,0.014615,7.652899,5403.56,2018-11-05T09:42:25.76,5403.46
5,HIP24332,5014.160984,23,HIP24332_1,5013.872470,0.155230,7.425353,5014.16,2016-11-02T13:49:01.11,5013.88
6,HIP47990,5576.804904,32,HIP47990_1,5576.012188,0.221399,7.909538,5576.80,2021-04-11T06:08:58.76,5576.02
7,HIP50384,5012.000246,35,HIP50384_1,5012.152937,0.106643,6.470609,5012.00,2017-03-08T06:47:02.61,5012.16
8,HIP67301,5018.383062,43,HIP67301_2,5018.247172,0.020335,14.247862,5018.38,2018-07-27T04:40:29.25,5018.24
9,HIP67301,5348.905360,37,HIP67301_0,5348.905360,0.005461,6.107899,5348.90,2018-07-27T04:41:27.04,5348.90
10,HIP67301,5598.290340,44,HIP67301_2,5598.138748,0.009316,6.060136,5598.30,2018-07-27T04:40:29.25,5598.14
11,HIP67301,5598.309340,42,HIP67301_1,5598.612551,0.009736,6.866624,5598.30,2018-07-27T04:42:19.47,5598.62
12,HIP677,5586.390133,46,HIP677_1,5586.437407,0.009051,6.383029,5586.40,2018-10-23T05:55:41.20,5586.44
13,HIP68030,5014.195018,63,HIP68030_2,5013.609535,0.108921,6.402652,5014.20,2017-05-14T06:36:48.60,5013.60
14,HIP68030,5049.887952,64,HIP68030_3,5048.537940,0.126120,7.442679,5049.88,2020-05-29T05:26:57.22,5048.54
15,HIP68030,5049.922229,55,HIP68030_1,5049.631657,0.135418,7.362205,5049.92,2017-05-14T06:21:30.41,5049.64
16,HIP68030,5083.263782,91,HIP68030_7,5083.263782,0.098514,6.884333,5083.26,2020-06-05T05:51:38.20,5083.26
17,HIP68030,5107.369869,90,HIP68030_7,5107.369869,0.110941,6.868458,5107.36,2020-06-05T05:51:38.20,5107.36
18,HIP68030,5110.334789,52,HIP68030_0,5110.334789,0.122762,6.454940,5110.34,2017-05-14T06:29:09.62,5110.34
19,HIP68030,5168.820512,60,HIP68030_2,5168.216974,0.082714,7.948244,5168.82,2017-05-14T06:36:48.60,5168.22
20,HIP68030,5405.716538,68,HIP68030_3,5404.271402,0.129435,7.675427,5405.72,2020-05-29T05:26:57.22,5404.28
21,HIP68030,5476.812997,67,HIP68030_3,5475.348854,0.120124,6.631612,5476.82,2020-05-29T05:26:57.22,5475.34
22,HIP68030,5853.757068,49,HIP68030_0,5853.757068,0.106043,6.591597,5853.76,2017-05-14T06:29:09.62,5853.76
23,HIP68030,5853.776935,66,HIP68030_3,5852.212016,0.141661,7.570334,5853.78,2020-05-29T05:26:57.22,5852.22
24,HIP73695,5188.769350,103,HIP73695_1,5187.557757,0.147263,6.776249,5188.76,2018-05-22T05:25:27.21,5187.56
25,HIP77760,5383.270790,124,HIP77760_14,5383.270790,0.114537,6.578112,5383.28,2018-06-06T07:12:48.17,5383.28
26,HIP77760,5383.289060,117,HIP77760_13,5383.289060,0.111016,6.008457,5383.28,2018-06-06T07:11:33.71,5383.28
27,HIP84862,5001.940428,133,HIP84862_5,5003.346098,0.189115,6.386022,5001.94,2019-07-10T04:59:03.60,5003.34
28,HIP84862,5012.000246,134,HIP84862_5,5013.408743,0.140030,7.066784,5012.00,2019-07-10T04:59:03.60,5013.40
29,HIP8543,5017.531551,143,HIP8543_2,5017.123972,0.242928,6.721506,5017.54,2020-08-15T11:46:41.75,5017.12
30,HIP91919,5283.358903,145,HIP91919_1,5284.145898,0.016580,6.731479,5283.36,2017-08-26T04:26:57.95,5284.14
31,HIP91926,5429.490338,148,HIP91926_1,5428.534838,0.009207,6.648605,5429.50,2017-08-25T05:21:28.67,5428.54
32,HIP93747,5250.361813,155,HIP93747_3,5250.361813,0.008164,7.381574,5250.36,2018-06-19T09:09:13.84,5250.36
33,HIP93747,5250.611284,150,HIP93747_1,5250.735697,0.011933,7.586992,5250.62,2018-06-19T09:08:15.54,5250.74
34,HIP93747,5250.629104,152,HIP93747_2,5249.225428,0.009243,6.832250,5250.62,2018-06-19T09:10:11.69,5249.22
35,HIP97649,5446.617472,157,HIP97649_11,5446.617472,0.009514,6.541370,5446.62,2018-06-29T11:21:34.91,5446.62
36,HIP98677,5577.372740,162,HIP98677_2,5576.712060,0.265354,11.846541,5577.38,2020-05-23T07:17:47.82,5576.72
37,TIC142276270,5576.975249,166,TIC142276270_2,5576.975249,0.530506,18.798266,5576.98,2021-06-20T05:34:45.62,5576.98
38,TIC198456933,5577.637749,167,TIC198456933_0,5577.637749,0.409998,14.802563,5577.64,2021-08-31T08:26:49.30,5577.64
39,TIC219778329,5577.902771,170,TIC219778329_0,5577.902771,0.326452,13.558742,5577.90,2021-08-27T10:45:31.76,5577.90

In [10]:
resid_results[mask]

Empty DataFrame
Columns: [Unnamed: 0, star, identifier, r shifted wl, r unshifted wl, r heights, r AMD heights, rounded r shifted wl, observation time, rounded r unshifted wl]
Index: []