## Convert tables from paper to CSV files

In [146]:
import re
import sys
import pandas as pd

In [147]:
files1 = ['OH']
files2 = ['HG', 'NA', 'NE', 'SC', 'SE', 'TH', 'TH2']
files3 = ['add']
files4 = ['unidentified']
all_files = files1 + files2 + files3 + files4

In [148]:
columns1 = ['Line1', 'Line2', 'Line3', 'Line4', 'LickLambda', 'AbramsLambda', 'Deviation', 'Width', 'RI']
columns2 = ['LickLambda', 'NISTLambda', 'Deviation', 'Width', 'RI']
columns3 = ['Emitter1', 'Emitter2', 'LickLambda', 'NISTLambda', 'Deviation', 'Width', 'RI']
columns4 = ['LickLambda', 'RI']

In [156]:
for file in all_files:
    file_name = file + '.txt'
    if file in files1:
        column_names = columns1
    elif file in files2:
        column_names = columns2
    elif file in files3:
        column_names = columns3
    else:
        column_names = columns4
    df = pd.DataFrame(columns = column_names)
    with open(file_name) as f:
        for line in f:
            if "......" in line:
                line = re.sub(r' \.\.+ ', ',', line)
            if " " in line:
                line = re.sub(r' ', ',', line)
            line = re.sub(r'[^a-zA-Z0-9\.\,]', '', line)
            series = pd.Series(line.split(','), index = df.columns)
            df = df.append(series, ignore_index=True)
    df.to_pickle(file + '.pkl')

In [165]:
lst = []
for file in all_files:
    f_name = file + '.pkl'
    lst += [f_name]

In [189]:
all_wavelengths = pd.DataFrame(columns=['LickLambda'])
for file in lst:
    df = pd.read_pickle(file)
    to_stack = pd.DataFrame(df['LickLambda'])
    all_wavelengths = pd.concat([all_wavelengths,to_stack],ignore_index=True)
all_wavelengths.to_pickle('AllLines.pkl')

In [191]:
pd.read_pickle('SE.pkl')

   LickLambda NISTLambda Deviation Width RI
0    4056.627   4056.596     0.031  0.24  2
1    4087.154   4087.150     0.004  0.24  2
2    4100.324   4100.318     0.006  0.12  2
3    4133.046   4132.981     0.065  0.36  3
4    4140.341   4140.274     0.067  0.34  3
..        ...        ...       ...   ... ..
84   6258.991    6258.94      0.05  0.28  4
85   6276.307    6276.30      0.01  0.16  2
86   6306.019    6306.02      0.00  0.32  3
87   6378.833    6378.81      0.02  0.29  2
88   6413.363    6413.32      0.04  0.23  3

[89 rows x 5 columns]